<!DOCTYPE html>
<html lang="en">

<%=render "_head.html.erb"%>

<body>
<%=render "_header.html.erb"%>

    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url('https://www.brainportindustries.com/_cache/_public/tbpelectronics_auditorium_cl84MDB4NjAwX2RfMV9qcGdfL19hc3NldC9fcHJpdmF0ZS9tdWx0aWdhbGxlcnkvMTc5_2dbe7ee1.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h2>Kunstveiling Goeree-Overflakkee</h2><div>&nbsp;</div>
                        <h6>11 mei 2019 bij TBP Vlakbodem 10 te Dirksland</h6><div>&nbsp;</div>
                        <a href="#veiling-collectie" class="btn essence-btn">Bekijk de collectie</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### New Arrivals Area Start ##### -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Last minute toevoegingen</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">
<%last_minutes.each do |lot|%>
                        <!-- Single Product -->
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="<%=lot.photos[0]%>" alt="">
                                <!-- Hover Thumb -->
                                <!--img class="hover-img" src="img/product-img/product-2.jpg" alt=""-->
                                <!-- Favourite
                                <div class="product-favourite">
                                    <a href="#" class="favme fa fa-heart"></a>
                                </div>
                                -->
                                <div class="product-badge new-badge">
                                    <span>Nieuw</span>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span><%=lot.artist%></span>
                                <a href="<%=sanitize_filename lot.id%>">
                                    <h6><%=lot.title%></h6>
                                </a>
                                <p class="product-price">&euro;<%=lot.price%></p>

                                <!-- Hover Content 
                                <div class="hover-content">
                                    <div class="add-to-cart-btn">
                                        <a href="#" class="btn essence-btn">Add to Cart</a>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
<%end%>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### New Arrivals Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div id="veiling-collectie" class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
<%categories.each do |category,value|%>
                <!-- Single Catagory -->                
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url('<%=value.first.photos[0]%>');">
                        <div class="catagory-content">
                            <a href="<%=sanitize_filename category%>.html"><%=category%></a>
                        </div>
                    </div>
                </div>
<%end%>
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->


<%=render "_sponsor.html.erb"%>
<%=render "_footer.html.erb"%>
<%=render "_scripts.html.erb"%>

</body>

</html>