<!DOCTYPE html>
<html lang="en">

<%=render "_head.html.erb"%>

<body>
<%=render "_header.html.erb"%>

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
<%lots.each do |lot|%>

                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url('<%=lot.photos[0]%>');">
                        <div class="catagory-content">
                            <a href="<%=sanitize_filename lot.id%>"><%=lot.lot%>: <%=lot.title%></a>
                            <%=lot.artist%>
                        </div>
                    </div>
                </div>
<%end%>
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->

<%=render "_footer.html.erb"%>
<%=render "_scripts.html.erb"%>

</body>

</html>