<!DOCTYPE html>
<html lang="en">

<%=render "_head.html.erb"%>

<body>
<%=render "_header.html.erb"%>
    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
<%
lot.photos.each_with_index do |photo,i|
%>
                <img src="<%=photo%>" alt="">
<%
end
if lot.photos.count == 1
%>
                <img src="<%=lot.photos[0]%>" alt="">
<%
end
%>
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
			<p class="product-desc">Kavel: <strong><%=lot.lot%></strong></p>
            <span><%= lot.artist %></span>
            <h2><%= lot.title %></h2>
			<p class="product-desc"><%=lot.year%></p>
			<p class="product-desc"><%=lot.details%></p>
            <p class="product-price"><!--span class="old-price"></span-->&euro; <%=lot.price%></p>
            <p class="product-desc"><%=auto_link lot.text%></p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdqpsK0LaAll0uEXCuxJRkGSbqyruOZO0YqggePydiRMPNPPw/viewform?usp=pp_url&entry.1895664404=<%=lot.lot%>&entry.334513800=<%=lot.price%>" class="btn essence-btn">Biedformulier</a></p>
        </div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->

<%=render "_footer.html.erb"%>
<%=render "_scripts.html.erb"%>

</body>

</html>