<!DOCTYPE html>
<html lang="en">

<%=render "_head.html.erb"%>

<body>
<%=render "_header.html.erb"%>

<%=render @pageinfo.include%>

<%=render "_footer.html.erb"%>
<%=render "_scripts.html.erb"%>

</body>

</html>